<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Hello, {{user.username}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin/add">Add movie</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Waddup, boss?</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each movies}}
          <tr>
            <td>
              <img src="{{this.img}}" alt="">
            </td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
          </tr>
          {{/each}}
        </tbody>
    </table>
    </div>
  </div>
</div>